@page "/"
@implements IDisposable

@using System.Linq
@using System.Threading
@using Gemstone.Web.Razor.Elements 

@inject ElementFactory ElementFactory 
@inject PQDIFFileCache Cache
@inject NavigationManager NavigationManager

<div>
    @if (FileKeys.Any())
    {
        @foreach (PQDIFKeyData fileKey in FileKeys)
        {
            <div @key="fileKey.Key">
                <a href="@($"PQDIF/View/{fileKey.Key}")" title="View">
                    <img src="explorer.ico" width="20" height="20" /> @fileKey.Name
                </a>
                @if (fileKey.HasUnsavedChanges)
                {
                    <a class="commit-file" href="" title="Commit edits" @onclick="@(async _ => await Cache.CommitEditsAsync(fileKey.Key))" @onclick:preventDefault="true">
                        <span class="oi oi-camera-slr" />
                        <span class="accessibility-text">Commit edits</span>
                    </a>
                    <a class="reload-file" href="" title="Reload (discard edits)" @onclick="@(() => Cache.FlushParsedData(fileKey.Key))" @onclick:preventDefault="true">
                        <span class="oi oi-reload" />
                        <span class="accessibility-text">Reload (discard edits)</span>
                    </a>
                }
                else
                {
                    <a class="download-file" href="@($"PQDIF/Retrieve/{fileKey.Key}")" title="Download">
                        <span class="oi oi-data-transfer-download" />
                        <span class="accessibility-text">Download</span>
                    </a>
                    <a class="close-file" href="" title="Close" @onclick="@(async _ => await Cache.PurgeAsync(fileKey.Key))" @onclick:preventDefault="true">
                        <span class="oi oi-x" />
                        <span class="accessibility-text">Close</span>
                    </a>
                }
            </div>
        }
    }

    <div>
        <input id="pqdif-file-input" class="d-none" type="file" accept=".pqd" @ref="FileInput" @onchange="@HandleFileAsync" />

        <a class="open-file @Disabled" type="button" href="" @onclick="@TriggerFileInputAsync" @onclick:preventDefault="true">
            <span class="oi oi-folder" /> Open...
        </a>
    </div>
</div>

@code {
    [CascadingParameter]
    private App? App { get; set; }

    private ElementReference FileInput { get; set; }

    private IEnumerable<PQDIFKeyData> FileKeys { get; set; } =
        Enumerable.Empty<PQDIFKeyData>();

    private CancellationToken LoadToken =>
        App?.LoadToken ?? default;

    private bool Loading =>
        LoadToken.CanBeCanceled &&
        !LoadToken.IsCancellationRequested;

    private string Disabled =>
        Loading ? "disabled" : string.Empty;

    protected override async Task OnInitializedAsync()
    {
        FileKeys = await Cache
            .RetrieveKeysAsync()
            .OrderBy(fileKey => fileKey.Name)
            .ToListAsync();

        Cache.Updated += HandleCacheUpdated;
    }

    public void Dispose()
    {
        Cache.Updated -= HandleCacheUpdated;
    }

    private async void HandleCacheUpdated(object sender, EventArgs args)
    {
        FileKeys = await Cache
            .RetrieveKeysAsync()
            .OrderBy(fileKey => fileKey.Name)
            .ToListAsync();

        StateHasChanged();
    }

    private async Task HandleFileAsync(ChangeEventArgs args)
    {
        using IDisposable? loadingHandle = App?.TryStartLoading();

        if (loadingHandle == null)
            return;

        PQDIFKeyData[] fileKeys = await Cache.SaveAsync(FileInput, LoadToken);

        if (!fileKeys.Any())
            return;

        PQDIFKeyData firstKey = fileKeys[0];
        NavigationManager.NavigateTo($"PQDIF/View/{firstKey.Key}");
    }

    private async Task TriggerFileInputAsync()
    {
        if (Loading)
            return;

        Element element = ElementFactory.GetElement(FileInput);
        await element.ClickAsync();
    }
}
